body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  background-color: #262626;
}

.credits {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 1em;
  opacity: 0.6;
  z-index: 1;
  font-size: 0.35em;
  letter-spacing: 2px;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}