.main
{
    min-height: 100%;

    background: #f5f5f5;
}
.main .main__banner
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 450px;
    padding-top: 64px;
}
@media (max-width: 600px)
{
    .main .main__banner
    {
        height: 225px;
    }
}
.main .main__banner .main__banner__container
{
    position: relative;
    left: 50%;

    width: 2560px;
    height: 100%;
    margin-left: -1280px;

    animation: fadeIn 4s;
    text-align: center;

    background: #f5f5f5;
}
@media (max-width: 600px)
{
    .main .main__banner .main__banner__container
    {
        left: 50%;

        width: 1280px;
        margin-left: -640px;
    }
}
.main .main__banner .main__banner__container .main__banner__container__img
{
    width: 2560px;
    height: 450px;
}
@media (max-width: 600px)
{
    .main .main__banner .main__banner__container .main__banner__container__img
    {
        width: 1280px;
        height: 225px;
    }
}
.main .main__banner .main__banner__container .main__banner__container__layout
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
}
.main .main__banner .main__banner__page
{
    position: absolute;
    z-index: 9;
    bottom: 0;

    width: 100%;
    height: 35px;

    text-align: center;
}
.main .main__banner .main__banner__page a
{
    font-size: 0;

    display: inline-block;

    width: 20px;
    height: 3px;
    margin: 0 5px;

    outline: none;
    background: #bbb;
}
.main .main__banner .main__banner__page a.activeSlide
{
    background: #fff;
}
.main .main__wrapper
{
    padding: 20px 0;
}
.main .main__wrapper h4::before
{
    position: relative;
    top: 14px;
    left: -15px;

    display: block;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 6px;
    background: #3ca5f6;
}
.main .main__wrapper .main__wrapper__detail
{
    max-width: 1024px;
    margin: 0 auto;

    border: 1px solid #ddd;
    /*min-height: 640px;*/
    background: #fff;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu
{
    display: inline-block;
    float: left;

    width: 170px;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    border-right: 1px solid #ddd;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu .main__wrapper__detail__menu__item
{
    box-sizing: border-box;

    text-align: center;

    border-bottom: 1px solid #ddd;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu .main__wrapper__detail__menu__item .main__wrapper__detail__menu__item--link
{
    font-size: 16px;

    display: block;

    padding: 10px 0;

    text-decoration: none;

    color: #757575;
    outline: none;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu .main__wrapper__detail__menu__item .main__wrapper__detail__menu__item--link.selected,
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu .main__wrapper__detail__menu__item .main__wrapper__detail__menu__item--link:hover
{
    color: #3389ca;
    /* background: #fafafa; */
    border-left: 2px solid #168cfc;
}
@media (max-width: 600px)
{
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu .main__wrapper__detail__menu__item .main__wrapper__detail__menu__item--link.selected
    {
        color: #fff;
        background: #559bfd;
    }
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu .main__wrapper__detail__menu__item.main__wrapper__detail__menu__item--title
{
    font-size: 22px;

    padding: 10px 0;

    cursor: default;

    color: #333;
    border-left: none;
    background: #fff;
}
@media (max-width: 600px)
{
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu
    {
        display: block;
        float: none;

        width: 100%;
        height: 166px;
    }
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu li
    {
        float: left;

        width: 50%;
    }
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu li.first
    {
        border-left: 0;
    }
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu li:first-child
    {
        width: 100%;
    }
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu--3 li
    {
        float: left;

        width: 33.3%;

        border-left: 1px solid #ddd;
    }
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu--3 li.first
    {
        border-left: 0;
    }
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__menu--3 li:first-child
    {
        width: 100%;
    }
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__
{
    font-size: 16px;

    display: none;

    box-sizing: border-box;
    max-width: 840px;
    margin: 0;
    margin-left: 171px;
    padding: 45px 15px;

    vertical-align: top;
}
@media (max-width: 600px)
{
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__
    {
        margin-left: 0;
        padding: 0 15px;
    }
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__detail__p
{
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;

    margin-top: 0;

    text-align: justify;
    text-indent: 32px;
    word-break: break-all;

    color: #757575;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__detail__p a
{
    color: #3389ca;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__title
{
    font-size: 0;

    margin: 0;
    margin-bottom: 45px;

    text-align: center;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__title img
{
    border: 0;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__illustration
{
    font-size: 16px;
    font-weight: normal;

    margin-top: 40px;

    text-align: center;

    color: #666;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__illustration .main__wrapper__detail__illustration__img
{
    display: block;

    margin: auto;
    margin-bottom: 20px;
}
@media (max-width: 900px)
{
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__illustration img
    {
        width: 308px;
    }
}
@media (max-width: 600px)
{
    .main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__illustration img
    {
        width: 231px;
    }
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__detail
{
    font-size: 16px;

    color: #333;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__detail p
{
    margin: 0 auto;
    padding: 0;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__ .main__wrapper__detail__detail .main__wrapper__detail__detail__link
{
    word-wrap: break-word;

    color: #559bfd;
}
.main .main__wrapper .main__wrapper__detail .main__wrapper__detail__.selected
{
    display: block;
}
